 @(title: String)

<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>@title</title>

	<!--   <link rel="stylesheet"	href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> -->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" />
		<link rel="stylesheet" href=@routes.Assets.at("stylesheets/L.Control.Zoomslider.ie.css")/>
	<![endif]-->


	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/main.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/codingHistory.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/leafletModified.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/leaflet-history-src.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/leaflet.labelModified.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/L.Control.Zoomslider.css") />
	<link rel="stylesheet" href=@routes.Assets.at( "stylesheets/bootstrap.css") />

	<script src=@routes.Assets.at( "javascripts/jquery-3.2.1.min.js")></script>
	<script src=@routes.Assets.at( "javascripts/he.js")></script>
	<script src=@routes.Assets.at( "javascripts/bootstrap.js")></script>
	<script src=@routes.Assets.at( "javascripts/leaflet.js")></script>
	<script src=@routes.Assets.at( "javascripts/leaflet.label.js")></script>
	<!--  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>-->
	<script src=@routes.Assets.at( "javascripts/rangy-core.js")></script>
	<script src=@routes.Assets.at( "javascripts/rangy-classapplier.js")></script>
	<script src=@routes.Assets.at( "javascripts/oms.min.js")></script>
	<script src=@routes.Assets.at( "javascripts/leaflet-history-src.js")></script>
	<script src=@routes.Assets.at( "javascripts/L.Control.Zoomslider.js")></script>


	<script src=@routes.Assets.at( "javascripts/codingHistory.js")></script>
	<script src=@routes.Assets.at( "javascripts/textManip.js")></script>
	<script src=@routes.Assets.at( "javascripts/utils.js")></script>



</head>

<body id="historyBody">
	<div id="historyPageDiv"></div>
</body>

</html>